@layout('main')
@section('content')  

<h4>Simples lista de tarefas(tasks) usando o framework adonis e nodejs</h4>
<ul>
    <li>Banco de dados: POSTGRES</li>
    <li>Front:Edge Engine</li>
    <li>Back-End: NodeJS + Adonis</li>
</ul>


@endsection

